langchain
ipykernel
python-dotenv
langchain-community
pypdf
bs4
arxiv
fitz
pymupdf
langchain-text-splitters
langchain-openai
chromadb
sentence-transformers
langchain-huggingface
faiss-cpu
langchain_chroma
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
langchain-ollama 
langchain-text-splitters 
torchvision 
torch 
transformers
langchain 
langchain-google-genai 
google-generativeai 
python-dotenv
PyPDF
langchain 
langchain-community 
langchain-experimental 
ollama
langchain-ollama